#superior{
    background-color: darkgreen;
    width: 100%;
    height: 15%;
    align-content: center;
    border: 1px;
}

.centro{
    text-align: center;
}

footer{
    background-color: cornflowerblue;
    width: 100%;
    height: 20%;
}
